/* GENERAL */

* {
    font-family: 'Roboto';
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
}

.row {
    margin: 0;
}

.card {
    margin: 7px;
    padding: 7px;
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    background-color: #3cbeff;
    border: 2px solid #315382;
}

.btn-primary:hover {
    background-color: #315382;
    border: 2px solid #315382;
}

/* NAVBAR */

#navbar-img {
    width: 40px;
}

#navbar {
    justify-content: space-between;
    background-color: #FFF;
    padding: 5px 0;
}

#navbar a {
    font-size: 14px;
    color: #757575;
}

#navbar a:hover {
    font-size: 14px;
    font-weight: bold;
    color: #3cbeff;
}

/* Search container */

#search-container {
    background-image: url(/img/party-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1 {
    color: #FFF;
    font-weight: 900;
    margin-bottom: 20px;
    opacity: 0.7;
}

#search-container form {
    width: 50%;
    margin: 0 auto;
} 

#search-container form input {
    opacity: 0.5;
    cursor: pointer;
}

/* Events list */

#events-container {
    padding: 50px;
}

#events-container h2 {
    margin-bottom: 10px;
}

#events-container .subtitle {
    margin-bottom: 30px;
    color: #757575;
}

#cards-container {
    display: flex;
}

#events-container .card {
    flex: 1 1 0;
    max-width: 25%;
}

/* footer */

footer {
    text-align: center;
    background-color: #315382;
    color: #FFF;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}
